@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Open+Sans:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: url(../public/background-image.svg);
  background-repeat: no-repeat;
  padding: 0 9vw;
  background-size: 78vw;
  @media (max-width:391px) {
    background-size: cover;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
